NWEBBED_API_KEY=testkey
NWEBBED_API_URL=http://host.docker.internal:9000/r2
HUSHFILTER_TEST_MODE=0
# Set to 1 to enable the daily auto updater, 0 to disable it.
AUTO_UPDATE_FILTERS=1
# Integer hour in 24-hour time. Example: 23 = 11pm, 2 = 2am.
AUTO_UPDATE_TIME=23
